# Python
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/
.venv/

# Pipenv
Pipfile.lock

# Poetry
poetry.lock


# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace


# OS Files
.DS_Store
Thumbs.db


# Logs
*.log


# PyGame Specific
*.bak
*.swp

# uv
uv.lock